root = true

[*]
charset = utf-8

[*.cs]
indent_style = tab
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning
dotnet_diagnostic.IDE0130.severity = warning
