body {
	background-color: #121212;
	color: #e0e0e0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 2rem;
}

h1,
h2,
h3,
h4 {
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
}

h3,
h4 {
	margin: 0px;
}

h4 {
	padding-bottom: 0px;
}

/* Main container */
.control-panel {
	max-width: 1200px;
	margin: auto;
}

/* Section styling */
.section {
	margin-bottom: 2rem;
	background-color: #1e1e1e;
	padding: 1.5rem;
	border-radius: 8px;
}

/* Turn Order Display */
.player-turn-list {
	display: flex;
	justify-content: flex-start;
	padding: 0;
	list-style: none;
}

.player-turn {
	padding: 10px 15px;
	margin-right: 10px;
	background-color: #282828;
	border-radius: 4px;
	font-weight: bold;
}

.player-turn.active-turn {
	background-color: #007bff;
	/* A bright color to indicate the active player */
	color: #ffffff;
}

/* Players List */
.player-list ul {
	list-style: none;
	padding: 0;
}

.player-list li {
	background-color: #282828;
	padding: 10px;
	margin-bottom: 8px;
	border-radius: 4px;
}

/* Battlefield Grid */
.battlefield-grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	/* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
	gap: 10px;
}

/* Unit Slots */
.unit-slot {
	background-color: #2a2a2a;
	padding: 0.5em;
	border: 1px dashed #444;
	border-radius: 4px;
	min-height: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}


/* Unit inside a slot */
.unit {
	text-align: left;
	background-color: #00000038;
	padding: 0.5em;
	border: 1px dashed #444;
	border-radius: 4px;
}

.unit-name {
	font-weight: bold;
}

.unit-stat {}

/* Input Form Styling */
#input-section form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.form-group select,
.form-group button {
	padding: 0.8rem;
	border-radius: 4px;
	background-color: #2a2a2a;
	color: #e0e0e0;
	border: 1px solid #333;
}

.form-group button {
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.form-group button:hover {
	background-color: #0056b3;
}

/* Input Boxes */
.section select {
	width: 40%;
	background-color: #2a2a2a;
	border: none;
	padding: 0.5rem;
	border-radius: 8px;
}